# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

node_modules/
dhom_app/.idea/
dhom_app/.ionic/
dhom_app/.sourcemaps/
dhom_app/.sass-cache/
dhom_app/.tmp/
dhom_app/.versions/
dhom_app/coverage/
dhom_app/www/
dhom_app/node_modules/
dhom_app/tmp/
dhom_app/temp/
dhom_app/platforms
dhom_app/plugins
dhom_app/plugins/android.json
dhom_app/plugins/ios.json
dhom_app/$RECYCLE.BIN/

node-server/node_modules
node-server/serviceAccountKey.json
node-server/google-services.json
node-server/.git/
node-server/.gitignore
envStart.sh

dhom_app/.DS_Store
dhom_app/Thumbs.db
dhom_app/UserInterfaceState.xcuserstate
dhom_app/src/app/services/constants.ts

workspace_dhom.code-workspace