<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une machine</ion-title>
    <ion-buttons slot="start">
        <ion-back-button default-href="/menu/home" routerLink="/menu/home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center class="ion-text-center">

  <ion-card>
    <ion-list>
      <ion-radio-group>

        <ion-list-header>
        <ion-label>Type de lavage</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let machineType of machineTypes">
        <ion-label>{{machineType.infos.name}}</ion-label>
        <ion-radio (ionSelect)="onSelectRadioItem(machineType)" value={{machineType.id}}></ion-radio>
      </ion-item>

      </ion-radio-group>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item>
        <ion-label>Quantité</ion-label>
        <ion-range [(ngModel)]="rangeQuantity" id="sizeRange" min="0" max="100" step="10" snaps="true" ticks="false" color="secondary" pin="false"></ion-range>
    </ion-item>
    <ion-label>{{rangeQuantity}} %</ion-label>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label center>Programmée pour :</ion-label>
      <ion-datetime display-format="H:mm" minute-values="0,15,30,45"  [(ngModel)]="timeNow" value="{{timeNow}}"></ion-datetime>
    </ion-item>

    <ion-col class="ion-align-self-center">
      <ion-button size="small" id="todayButton" color="{{todayButtonColor}}" (click)="dayPick('today')">Aujourd'hui</ion-button>
      <ion-button size="small" id="tomorrowButton" color="{{tomorrowButtonColor}}" (click)="dayPick('tomorrow')">Demain</ion-button>
    </ion-col>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Message :</ion-label>
      <ion-input [(ngModel)]="machineMessage"  placeholder="Etienne il faut laver tes calecons !"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button class="ion-margin" id="okButton"  color="primary" (click)="addMachine()">OK</ion-button>

  <ion-button margin id="okButton"  color="primary" (click)="test()">Test</ion-button>

</ion-content>



